body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

header {
    width: 90%;
    margin: auto;
}

    header > hr {
        width: 63%;
        margin: 0px auto;
    }

#videoDiv {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

    #videoDiv > hr {
        width: 70%;
        margin: 0px auto;
        margin-top: 30px;
    }

#youtubeVideo {
    display: block;
    width: 70%;
    height: 500px;
    margin: auto;
}

section {
    width: 90%;
    margin: 40px auto;
    padding: 10px;
}

#picturesDiv {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div[id="picturesDiv"] > div {
    width: 200px;
    color: #666666;
}
